body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
}

h1 {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

p {
  text-align: center;
  font-size: 18px;
}
